.navbar {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  background-color: $zinc400;
  font-family: $fontThird;
  color: $WhiteColor;
  @media (min-width: 765px) and (max-width: 1400px) {
    .navbar {
      width: fit-content;
    }
  }
}
